<div class="container">
  <div class="row voffset2">
    <div class="panel panel-default">
        <div class="panel-body">
          <h4>  Your project has been submitted. </h4>
          <p>  We will get back to you soon with next steps </p>
      </div>
    </div>
  </div>
</div>