<div class="container">
  <div class="row voffset2">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1 id="success-title">Excellent!</h1>
          <h3 class="voffset3">You've created a new project.</h3>
          <h3>In the next 24 hours, many more fantastic things will occur...</h3>
        </div>
      </div>
    </div>
  </div>
</div>