<div class="container">
  <div class="row voffset2">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1 id="success-title">Excellent!</h1>
          <h4 class="voffset3">You've created a new demo project and we are working on the finishing touches now.</h4>
          <h4>We'll shoot you an email when it's ready - in about 10 minutes!</h4>
        </div>
      </div>
    </div>
  </div>
</div>