@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #5c6bc0;
}

.panel-body {
  padding: 30px;
}

.voffset1 {
  margin-top: 15px; 
}

.voffset2 {
  margin-top: 30px; 
}

#title {
  margin-top: -8px;
}

.field_with_errors1{
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 8px;

}